@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(0,0,0,1);
 
}


h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;

}

li{
  font-size: 2rem;
}
li>img{
  height:64px;
  padding-right: 100px
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.left{
    background-color: rgba(0,185,190,1);
}
.right{
    background-color: rgba(235,73,113,1);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flip {
    height: 100%;
    width: 100%;
    color:#FFF;
    margin: 0 auto;
    /*background-color: rgba(255,255,190,1);*/
}

.flip img {
    width: 100%;
    height: auto;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}

.node-visualiser {
  width: 170px;
  height: 200px;
  background-image: url("img/server_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
  background-origin: content-box;
  padding: 20px;
}

#node1{
  background-color: rgba(235,73,113,1);
}
#node2{
  background-color: rgba(0,185,190,1);
}

#node3{
  background-color: #b36cdb;
}
#node4{
  background-color: #0074e0
;
}

.orange-gradient {
  background: rgb(235,73,113);
  background: -moz-linear-gradient(left, rgba(235,73,113,1) 1%, rgba(252,156,12,1) 99%);
  background: -webkit-linear-gradient(left, rgba(235,73,113,1) 1%,rgba(252,156,12,1) 99%);
  background: linear-gradient(to right, rgba(235,73,113,1) 1%,rgba(252,156,12,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb4971', endColorstr='#fc9c0c',GradientType=1 );
}
