@import url('https://fonts.googleapis.com/css?family=Montserrat');

.submit-section{
    text-align: center;
}

.name{
    text-align: center;
}

.name-input{
    height: 30px;
    width: 300px;
}

img {
    max-width:100%;
    max-height: 5rem;
}

.col-product {
    padding-bottom: 30px;
}

.btn-product{
    border: 2px solid rgba(235,73,113,1);
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgba(235,73,113,1);
    cursor: pointer;
    display: inline-block;
    letter-spacing: -0.025em;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    white-space: normal;
    word-wrap: break-word;
    height:100%;
    width:100%;
}

.btn-product.active {
    background-color: white;
    border-color: white;
}

.green-bg {
    border-color: #00b9be;
    background: #00b9be;
}

.green-bg:hover {
    border: 2px solid #00b9be;
    color: white;
    background: linear-gradient(135deg, #00b9be 0%,white 100%);
}

.green-bg.active {
    color: #00b9be;
}

.lightblue-bg {
    border-color: #00abdf;
    background: #00abdf;
}

.lightblue-bg:hover {
    border: 2px solid #00abdf;
    color: white;
    background: linear-gradient(135deg, #00abdf 0%,white 100%);
}

.lightblue-bg.active {
    color: #00abdf;
}

.blue-bg {
    border-color: #0074e0;
    background: #0074e0;
}

.blue-bg:hover {
    border: 2px solid #0074e0;
    background: linear-gradient(135deg, #0074e0 0%,white 100%);
    color: white;
}

.blue-bg.active {
    color: #0074e0;
}

.purple-bg {
    border-color: #b36cdb;
    background: #b36cdb;
}

.purple-bg:hover {
    border: 2px solid #b36cdb;
    background: linear-gradient(135deg, #b36cdb 0%,white 100%);
    color: white;
}

.purple-bg.active {
    color: #b36cdb;
}

.red-bg {
    border-color: #eb4971;
    background: #eb4971;
}

.red-bg:hover {
    border: 2px solid #eb4971;
    background: linear-gradient(135deg, #eb4971 0%,white 100%);
    color: white;
}

.red-bg.active{
    color: #eb4971;
}

.products {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit-btn{
    border: 2px solid #fff;
    color: #e81c21;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    background: #ffffff;
    cursor: pointer;
    padding: 17px 30px 13px 30px;
    display: inline-block;
    letter-spacing: -0.025em;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.submit-btn:hover{
    color: white;
    background-color: #ea2328;
    border-color: white;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: black;
    font-family: "Montserrat";
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 2rem;
}


/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.couchmart-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 4.5em;
    position: absolute;
    z-index: 1;
    margin-left: -3.5em;
}

.title-hover:hover .couchmart-tooltip {
    visibility: visible;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: bold;
    color: rgba(255,255,255,.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}

.search-container{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: yellow;
    border-radius: 25px;
    -webkit-box-shadow:0 0 20px yellow;
    -moz-box-shadow: 0 0 20px yellow;
    box-shadow:0 0 20px yellow;
}

.search-btn{
    background: transparent;
    border: none;
}

.search-input{
    height: 100%;
    float: left;
    width: calc(100% - 41px);
    background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(32,26,25,1) 100%);
    border: none;
    color: #FFF;
    padding: 11px 15px 5px 0;
}
/*
 * Footer
 */

.mastfoot {
    color: rgba(255,255,255,.5);
}

.type-btn{
    border: 2px solid #fff;
    color: #e81c21;
    width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    background: #ffffff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: -0.025em;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.type-btn:hover{
    color: white;
    background-color: #ea2328;
    border-color: white;
}

.name-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.type-row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: yellow;
    border-radius: 25px;
    -webkit-box-shadow:0 0 20px yellow;
    -moz-box-shadow: 0 0 20px yellow;
    box-shadow:0 0 20px yellow;
}
/*
 * Affix and center
 */

.rotate {
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
    from {-ms-transform: rotate(0deg);}
    to   {-ms-transform: rotate(359deg);}

    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: top;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 62rem;
    }
}