<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CouchMart</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/shop.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->

</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-8 title-hover">
                            <a href="/"><h1 class="masthead-brand">CouchMart</h1></a>
                            <span class="couchmart-tooltip">{{ display_url }}</span>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 col-sm-6 col-8 col-offset-8 search-container">
                            <input type="text" name="q" placeholder="Search Products" class="search-input">
                            <button class="search-btn"><img src="/static/img/search_glass.png" alt="Search"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col align-self-center">
                            <div class="input-group input-group-lg name-container">
                                <input id="name-box" class="form-control" placeholder="Username">
                            </div>
                        </div>
                    </div>

                    <div class="row type-row justify-content-end">
                        {% for x in sorted(['british', 'meat', 'drinks', 'snacks', 'basics', 'fruit']) %}
                        <div class="col type-btn-col">
                            <input class="btn btn-primary type-btn" data-toggle="button" type="button" value="{{ x }}">
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row products">
                        {% if items %}
                          {% set keys = items.keys() %}
                          {% set foo = random.shuffle(keys) %}
                          {% for key in keys %}
                        <div class="col-md-3 col-sm-4 col-6 col-product">
                            <button class="btn btn-primary btn-product {{ random.choice(['blue', 'lightblue', 'purple', 'red', 'green'])}}-bg" type="button" data-toggle="button" value="{{ key }}" title="{{ items[key].value['description'] }}">{{ items[key].value['name'] }}<br><img src="/static/img/{{items[key].value['image']}}"></button>
                        </div>
                          {% endfor %}
                        {% endif %}

                    </div>

                </div>
                <div class="row" style="padding-bottom:20px;">
                    <div class="col-1"></div>
                    <div class="col-10 align-self-center">
                        <input class="btn btn-primary submit-btn" type="button" value="Submit">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/static/js/shop.js"></script>
</body>
</html>
